<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/Invt_Style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


</head>
<body>

{{ record.id }}
{{ record.name }}


<form action="/edit/{{ record.id }}" method="POST">
    <div class="form-group">
        <label for="examplePotato" style="color: black">Name</label>
        <input name="name" value="{{ record.name }}" type="text" class="form-control" id="examplePotato1">
    </div>
    <div class="form-group">
        <label for="example_service" style="color: black">Category</label>
        <input name="category" value="{{ record.category }}" type="text" class="form-control" id="example_service">
    </div>
    <div class="form-group">
        <label for="example_100" style="color: black">Buying Price</label>
        <input name="buying_price" value="{{ record.buying_price }}" type="number" class="form-control"
               id="example_100">
    </div>
    <div class="form-group">
        <label for="example_200" style="color: black">Selling Price</label>
        <input name="selling_price" value="{{ record.selling_price }}" type="number" class="form-control"
               id="example_200">
    </div>
    <div class="form-group">
        <label for="example_5" style="color: black">Stock</label>
        <input name="stock" value="{{ record.stock }}" type="number" class="form-control" id="example_5">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>