<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Sheet</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/Invt_Style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    {#    <script > $(document).ready( function () { $('#myTable').DataTable();} );</script>#}

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>

        <div class="col-4">
            <div class="main">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="inventory">Inventory</a></li>
                    <li><a href="dashboard">Statistics</a></li>
                    <li><a href="contact">Customers</a></li>
                </ul>
            </div>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                + Inventory
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inventory</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="color: red">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="/add_inventory" method="POST">
                                <div class="form-group">
                                    <label for="examplePotato" style="color: black">Name</label>
                                    <input name="name" type="text" class="form-control" id="examplePotato1">
                                </div>
                                <div class="form-group">
                                    <label for="example_service" style="color: black">Category</label>
                                    <input name="category" type="text" class="form-control" id="example_service">
                                </div>
                                <div class="form-group">
                                    <label for="example_100" style="color: black">Buying Price</label>
                                    <input name="buying_price" type="number" class="form-control" id="example_100">
                                </div>
                                <div class="form-group">
                                    <label for="example_200" style="color: black">Selling Price</label>
                                    <input name="selling_price" type="number" class="form-control" id="example_200">
                                </div>
                                <div class="form-group">
                                    <label for="example_5" style="color: black">Stock</label>
                                    <input name="stock" type="number" class="form-control" id="example_5">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Inv_d</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Buying Price</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Sell</th>
                        <th scope="col">View Sale</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each in records %}
                        <tr>
                            <th scope="row" style="color: white">{{ each.inv_id }}</th>
                            <td style="color: white">{{ each.name }}</td>
                            <td style="color: white">{{ each.category }}</td>
                            <td style="color: white">{{ each.buying_price }}</td>
                            <td style="color: white">{{ each.selling_price }}</td>
                            <td style="color: white">{{ each.stock }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#saleModal">Make sale
                                </button>
                                <div class="modal fade" id="saleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Make Sales</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/salepro/{{ each.inv_id }}" method="POST">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Quantity</label>
                                                        <input name="quantity" type="string" class="form-control"
                                                               id="exampleFormControlInput1"
                                                               placeholder="Quantity">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Sale</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="color: white"><a href="/view_sales/{{ each.inv_id }}">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">View
                                    Sales
                                </button>
                            </a></td>
                            <td><a href="/delete/{{ each.inv_id }}">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        data-target="#deleteModal">Delete
                                </button>
                            </a></td>
                            <td><a href="/edit/{{ each.inv_id }}">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                        data-target="#editModal">Edit
                                </button>
                            </a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>

        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>